table,
th,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.table {
  width: 500px;
  table-layout: fixed;
}

.tableType {
  text-transform: capitalize;
}
